@media screen and (max-width: 1400px) {
  #profile {
    height: 530px;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

/* Used Media Queries to Disable Animation On Slide(AOS) on Small Screens(<=1200px): */

@media screen and (max-width: 1200px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}


@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .experience,
  .experience-details-container {
    margin-top: 32px;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 345px;
    height: 330px;
    margin: 0 auto 2rem;
  }

  .about-details-container {
    padding: 40px;
  }
}
/* max-width: 600px */
@media screen and (max-width: 600px) {
  /* #contact, */
  footer {
    height: 40vh;
  }
  #profile {
    height: 570px;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .btn-container {
    flex-wrap: wrap;
  }
  /* .contact-info-container {
    margin: 0;
  } */
  /* .contact-info-container p, */
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  /* experience section */
  .experience {
    margin: 0;
    width: 600px;
  }

  .listing_start {
    flex-direction: column;
    margin-top: 0;
  }

  .listOf {
    margin-top: 20px;
  }

  .listOf ul li {
    margin-bottom: 15px;
  }

  .listing_start h1 {
    margin: 20px;
  }

  .skill_topics p {
    margin-bottom: 10px;
  }
}



@media screen and (max-width: 426px) {

  /* hamburger-nav */
  .menu-links.open {
    width: 100vw;
    left: -336px;
    top: 50px;
    background: #d3d3d3;
  }

  /* #contact, */
  footer {
    height: 40vh;
  }
  #profile {
    height: 570px;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .btn-container {
    flex-wrap: wrap;
  }
  /* .contact-info-container {
    margin: 0;
  } */
  /* .contact-info-container p, */
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto -4rem;
  }
  .section__text__p2 {
    font-size: 1.25rem;
    margin-bottom: 5px;
  }
  .title {
    font-size: 1.9rem;
  }
  .text-container {
    text-align: justify;
  }

  /* home */
  .home {
    margin-top: 20px;
    flex-direction: column;
    justify-content: unset;
    gap: unset;
  }
  .home_profile_img {
    height: 350px;
    width: auto;
    justify-content: center;
    margin: 10px 0;
  }

  .section__text p {
    font-weight: 400;
  }

  /* About */
  #about {
    margin-top: 30px;
  }


  /* experience section */
  .experience {
    margin: 0;
    width: 100%;
    height: 500px;
  }

  .listing_start {
    flex-direction: column;
    margin-top: 0;
  }

  .listOf {
    margin-top: 20px;
  }

  .listOf ul li {
    margin-bottom: 15px;
  }

  .listOf img {
    width: 40px;
    height: auto;
  }

  .listing_start h1 {
    margin: 20px;
  }

  .skill_topics p {
    margin-bottom: 10px;
  }

  .skill-topics-list {
    display: flex;
    justify-content: center;
  }

  /* Contact */
  /* #contact {
    height: 420px;
  } */

  footer {
    height: 50px;
  }
}
